@using System.Data;
@using MiddleTier;

@model DataSet;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="display: flex; justify-content: space-between; margin-top:35px">



    <h6>
        @ViewBag.uName
    @if (ViewBag.isAdmin)
    {<span>(Full Access)</span>}
    @if (!ViewBag.isAdmin)
    {<span>(Read Only)</span>}
</h6>



<button class="btn btn-danger" onclick="location.href = '@Url.Action("Index","Home")'">Logout</button>



</div>

<div class="text-center" style="margin-top:20vh">
    <h1 class="display-4">Welcome</h1>
</div>
        @if (ViewBag.isAdmin) {
            <button value="Create" style="margin-bottom:2vh; color:white; margin-top: 30px; width: 80px; height: 40px; background-color: #007ACC; border: none; box-shadow: none; font-weight: bold" onclick="location.href = '@Url.Action("Create","Home")'">+</button>
        }

<div>
    <table class="table">
        <thead>

            <tr>
                <th>
                    @Model.Tables[0].Columns[0].ColumnName
                </th>
                <th>
                    Author
                </th>
                <th>
                    Year
                </th>
                <th>
                    Description
                </th>
                <th>
                    ISBN
                </th>
                <th></th>
            </tr>

        </thead>
      

        @foreach (DataRow item in Model.Tables[0].Rows)

        {

            <tbody>
                <tr>


                    <td>
                        @item["Book"]
                    </td>
                    <td>
                        @item["Author"]
                    </td>
                    <td>
                        @item["Year"]
                    </td>
                    <td>
                        @item["Description"]
                    </td>
                    <td>
                        @item["ISBN"]
                    </td>
                    <td>
                        @if (ViewBag.isAdmin)
                        {
                            <div style="display: flex; justify-content: space-between; margin-top:0">


                                <div class="col-sm">
                                    @using (Html.BeginForm("Update", "Home", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(s => s.Tables[0].Columns[0].ColumnName)
                                        @Html.Hidden("bookID", (object)item["ID"])
                                        <button type="submit" class="btn btn-info" value="Submit">Edit</button>
                                    }
                                </div>


                                <div class="col-sm">
                                    @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(s => s.Tables[0].Columns[0].ColumnName)
                                        @Html.Hidden("bookID", (object)item["ID"])
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    }

                                </div>









                            </div>
                        }
                    </td>
                </tr>
            </tbody>

        }


    </table>
</div>









