@using System.Data;
@using MiddleTier;

@model MiddleTier.Book;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="margin-top:5vh">
    <h1 class="display-6">Update</h1>
</div>
<div style="width:350px; padding-top:30px">
    <form asp-action="Updateb" style="color: black;padding-left:25px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="ID" type="hidden" class="form-control" id="BookName" value="@ViewBag.bID"></input>


        <div>
            <label style="padding-right:5px">Book</label>
            <input asp-for="bName" type="text" style="border: none; background: #EFEFEF; box-shadow: none; font-weight:600 " class="form-control" id="BookName" placeholder="Name of the Book" value="@ViewBag.bName"></input>

        </div>
        <div style="padding-top:20px">
            <label style="padding-right:5px">Author</label>
            <input asp-for="bAuthor" style="border: none;background: #EFEFEF; box-shadow: none; font-weight:600 " class="form-control" id="Author" placeholder="Author of the Book" value="@ViewBag.bAuthor"></input>

        </div>
        <div style="padding-top:20px">
            <label style="padding-right:5px">Year</label>
            <select asp-for="bYear" class="form-control" style="background: #EFEFEF;border:none" value="2012">
                @for (int i = 2022; i >= 2000; i--)
                {


                    @if (i == Convert.ToInt32(ViewBag.bYear))
                    {
                        <option value="@i" selected>@i</option>
                    }
                    @if (i != Convert.ToInt32(ViewBag.bYear))
                    {

                        <option value="@i">@i</option>
                    }
                }

            </select>

        </div>
        <div style="padding-top:20px">
            <label style="padding-right:5px">ISBN</label>
            <input type="number" asp-for="bISBN" style="border: none; background: #EFEFEF; box-shadow: none; font-weight:600 " class="form-control" id="Author" placeholder="Book ISBN" value="@ViewBag.bISBN"></input>

        </div>
        <div style="padding-top:20px">
            <label style="padding-right:5px">Description</label>
            <input type="text" asp-for="bDescription" class="form-control" maxlength="150" style="border: none; background: #EFEFEF; box-shadow: none; font-weight: 600" placeholder="Description of the book" value="@ViewBag.bDescription"></input>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button style="margin-top: 30px; width: 100px; height: 40px; background-color: #007ACC; border: none; box-shadow: none; font-weight: bold" type="submit" class="btn btn-primary">Update</button>

                </div>
                <div class="col" style="margin-top: 41px">
                    <a asp-action="Home" style="margin-top: 37px; font-weight: bold">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>




